.gridRow:after {
    /* Display */
    clear: both;
    content: '';
    display: table;
}

.gridContainer {
    /* Display */
    max-width: 450px;
    width: max(400px, 50vw);
}

.statusMessage {
    /* Display */
    margin-bottom: 1vh;
    margin-top: 1vh;

    /* Color */
    background-color: rgb(255, 255, 108);
    color: rgb(40, 44, 52);

    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
}

.grid {
    /* Display */
    margin-bottom: max(1vh, 4px);
    margin-top: max(1vh, 4px);
}

.gameButtons {
    /* Display */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.gameButton {
    /* Display */
    border: 4px solid;
    border-radius: 32px;
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    /* Color */
    background-color: rgb(51, 82, 125);
    border-color: rgb(22, 57, 105);
    color: rgb(255, 255, 157);

    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}