.gridRow:after {
    /* Display */
    clear: both;
    content: '';
    display: table;
}

.gridContainer {
    /* Display */
    max-width: 450px;
    width: max(400px, 50vw);
}

.statusMessage {
    /* Display */
    margin-bottom: 1vh;
    margin-top: 1vh;

    /* Color */
    background-color: rgb(255, 255, 108);
    color: rgb(40, 44, 52);

    /* Text */
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
}

.grid {
    /* Display */
    margin-bottom: max(1vh, 4px);
    margin-top: max(1vh, 4px);
}

.gameButtons {
    /* Display */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.statBubble {
    /* Display */
    border: 8px solid;
    border-radius: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 1.5em;
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Colors */
    background-color: rgb(51, 82, 125);
    border-color: rgb(22, 57, 105);
    color: rgb(255, 255, 157);

    /* Text */
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
}